table {
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

.white {
    background: #FFCF73;
}

.black {
    background: #7a5000;
}

tr:last-child td:first-child {
    border-left: none;
    border-bottom: none;
}

.whiteFigure {
    color: white;
}

.blackFigure {
    color: black;
}

i {
    font-size: 24px;
    text-shadow: 0 0 3px grey;
}

.fa-chess-rook:hover {
    color: yellow;
}

.fa-chess-knight:hover {
    color: yellow;
}

.fa-chess-bishop:hover {
    color: yellow;
}

.fa-chess-queen:hover {
    color: yellow;
}

.fa-chess-king:hover {
    color: yellow;
}

.fa-chess-pawn:hover {
    color: yellow;
}

[data-tooltip] {
    position: relative;
    /* Относительное позиционирование */
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    /* Выводим текст */
    position: absolute;
    /* Абсолютное позиционирование */
    width: 300px;
    /* Ширина подсказки */
    left: 0;
    top: 0;
    /* Положение подсказки */
    background: #3989c9;
    /* Синий цвет фона */
    color: #fff;
    /* Цвет текста */
    padding: 0.5em;
    /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Параметры тени */
    pointer-events: none;
    /* Подсказка */
    opacity: 0;
    /* Подсказка невидима */
    transition: 1s;
    /* Время появления подсказки */
}

[data-tooltip]:hover::after {
    opacity: 1;
    /* Показываем подсказку */
    top: 2em;
    /* Положение подсказки */
}